@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Обнуляющий стиль убрали в другой файл и подключилиего с помощю этой сылки*/
/*
!-----------------faq---------------------!
*/
.pages-way {
  padding: 19.87px 0 19.87px 0;
  display: flex;
}
.pages-way__1 {
  margin-right: 4px;
}
.pages-way__1 a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  color: #200F3F;
}
.pages-way__1 img {
  margin-right: 3.31px;
}
.pages-way__2 a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #7E7099;
}
.pages-way__2 a::before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #5531D2;
  align-items: center;
  border-radius: 50%;
  margin-right: 4px;
  position: relative;
  top: -2px;
  z-index: -1;
}

/*
!----------------------faq-dropdown--------------------!
*/
.m-content {
  max-width: 736px;
  margin: 44px auto 0px;
}
.m-content__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 52px;
  line-height: 130%;
  text-align: center;
  color: #200F3F;
}
.faq-dropdown {
  margin-top: 56px;
}
.faq-dropdown__container {
  position: relative;
  margin-bottom: 16px;
}
.faq-dropdown__button {
  width: 100%;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #200F3F;
  text-align: left;
  padding: 16px 16px 16px 16px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 10px rgba(43, 17, 133, 0.1);
  transition: 0.3s;
}
.faq-dropdown__button:hover > .faq-dropdown__button-icon::after {
  background: #FFFFFF;
}
.faq-dropdown__button:hover > .faq-dropdown__button-icon::before {
  background: #FFFFFF;
}
.faq-dropdown__button:hover {
  background: #C5A6FD;
  color: #FFFFFF;
}
.faq-dropdown__button-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  pointer-events: none;
}
.faq-dropdown__button-icon::after {
  content: "";
  width: 18px;
  height: 2px;
  background: #9E00FF;
  display: block;
  position: absolute;
  right: 0px;
  top: 8px;
}
.faq-dropdown__button-icon::before {
  content: "";
  width: 2px;
  height: 18px;
  background: #9E00FF;
  display: block;
  position: absolute;
  right: 8px;
  top: 0;
}
.faq-dropdown__text {
  display: none;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #200F3F;
  background: #FFFFFF;
  padding: 16px 16px 32px 16px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 10px rgba(43, 17, 133, 0.1);
}

.faq-dropdown__text-visible {
  display: block;
}