@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Обнуляющий стиль убрали в другой файл и подключилиего с помощю этой сылки*/
/*
!--------------------const-------------------
*/
.u-container {
  margin: 0px 20px;
}

@media (min-width: 1120px) {
  .u-container {
    width: 1120px;
    margin: auto;
  }
}
@media (max-width: 1120px) {
  .header__container,
.main__container {
    padding: 0px 20px 0px 20px;
  }
}
/*
!---------------------header-----------------
*/
body {
  font-family: "Roboto";
}

header {
  position: relative;
}

.header {
  position: relative;
  z-index: 10;
}
.header__body {
  background: linear-gradient(109.06deg, #5531D2 28.35%, #9273E4 76.57%, #E7CDFC 113.82%);
}
.header__main {
  padding: 15.5px 0px 0px 0px;
}
.h-title {
  position: relative;
}
.h-title__buttom {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 15px;
  display: none;
}
.h-title__buttom::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(135deg);
  position: relative;
  top: -3px;
  right: -5px;
  transition: 0.5s;
}
.h-title__buttom.active::after {
  transform: rotate(-45deg);
}
.h-title__items {
  display: flex;
  justify-content: space-between;
}
.h-title__item {
  display: inline-block;
}
.h-title__link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.h-location {
  margin-top: 20.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.h-logo {
  display: flex;
  width: 239px;
}
.h-logo__logo-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  margin-left: 10px;
}

.h-map {
  display: flex;
  flex-direction: column;
  row-gap: 10.5px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-left: 15px;
}
.h-map__map {
  display: flex;
}
.h-map__map-text {
  display: flex;
  align-items: center;
  margin-left: 5.05px;
}
.h-map__time {
  display: flex;
}
.h-map__time-text {
  display: flex;
  align-items: center;
  margin-left: 5.05px;
}

.h-contacts {
  display: flex;
  flex-direction: column;
  row-gap: 10.5px;
  margin-left: 15px;
}
.h-contacts__contact-mobi {
  display: flex;
  transition: 0.5s;
}
.h-contacts__contact-mobi a {
  transition: 0.5s;
}
.h-contacts__contact-mobi a:hover {
  color: #43CDD7;
}
.h-contacts__mobi-numb {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: center;
  margin-left: 5.05px;
}
.h-contacts__mobi-numb a {
  color: #FFFFFF;
}
.h-contacts__contact-net {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.h-contacts__contact-net a {
  color: #fff;
  transition: 0.3s;
}
.h-contacts__contact-net a:hover {
  color: #E7CDFC;
}

.h-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 15px;
}
.h-form__form-search {
  display: flex;
  justify-content: space-between;
  height: 48px;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: #FFFFFF;
}
.h-form__search-txt {
  flex: 0 1 90%;
  outline: none;
  border: none;
  color: #7E7099;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.h-form__search-btn {
  background-color: #FFFFFF;
}
.h-form__form-call a {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  transition: 0.3s;
  background: #43CDD7;
}
.h-form__form-call a:hover {
  border-radius: 10px;
  background: #1A8289;
}

@media (min-width: 1090px) {
  .h-form__form-search {
    width: 319px;
  }
  .h-form__form-call a {
    width: 319px;
  }
}
.burger__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
  width: 80%;
  align-items: center;
}

@media (max-width: 992px) {
  .h-location {
    flex-wrap: wrap;
    -moz-column-gap: 15px;
    column-gap: 15px;
    row-gap: 15px;
  }
  .h-map {
    margin-left: 0px;
  }
}
@media (max-width: 832px) {
  .h-form {
    margin-left: 0px;
  }
}
@media (max-width: 573px) {
  .burger__block {
    flex-direction: column;
    align-items: flex-start;
  }
  .h-form {
    margin-left: 0px;
  }
  .h-contacts {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .h-location__logo {
    position: absolute;
    top: 17.71px;
  }
  .header__main {
    padding-top: 69px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 14px;
    position: absolute;
    top: 35px;
    right: 20px;
  }
  .burger__block {
    width: 100%;
  }
  .header__burger span {
    position: absolute;
    left: 0%;
    top: 6px;
    background-color: #43CDD7;
    width: 100%;
    height: 2px;
  }
  .header__burger::before,
.header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: #43CDD7;
    width: 100%;
    height: 2px;
    transition: 0.5s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .h-title__items {
    position: absolute;
    top: -1500%;
    flex-direction: column;
    row-gap: 15px;
    margin-right: 10px;
    transition: 0.5s;
    opacity: 0;
    transition: 0.5s opacity;
  }
  .h-title__items.active {
    top: 40px;
    opacity: 1;
  }
  .h-title__buttom {
    display: block;
  }
  .h-title__buttom.active {
    height: 275px;
  }
  .h-title {
    margin-top: 15px;
  }
  .header__title,
.burger__block,
.header__services {
    position: absolute;
    top: -500px;
    transition: 0.5s opacity;
    opacity: 0;
  }
  .header__burger.active::after {
    transform: rotate(45deg);
    top: 5px;
    left: 8px;
    width: 12px;
  }
  .header__burger.active::before {
    transform: rotate(-45deg);
    top: 5px;
    width: 12px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__title.active,
.burger__block.active,
.header__services.active {
    position: relative;
    top: 0;
    opacity: 1;
  }
}
/*
  !---------------------------h-service---------------------------!
  */
.header__service-menu {
  margin-top: 5px;
  padding: 17px 0px 17px 0px;
}

.service-menu li {
  position: relative;
  list-style: none;
  z-index: 10;
}
.service-menu li:hover > .service-menu__link {
  color: #43CDD7;
}
.service-menu li:hover > .service-submenu__list {
  opacity: 1;
  top: 30px;
  display: block;
}
.service-menu li:hover > .service-menu__link::after {
  transform: rotate(45deg);
  border-top: 1px solid #43CDD7;
  border-right: 1px solid #43CDD7;
}
.service-menu li:hover > .service-menu__link::before {
  top: 110%;
  opacity: 1;
}
.service-menu__burger-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
.service-menu__burger-link::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
  position: relative;
  top: -2px;
  left: 6px;
  transition: 0.5s;
}
.service-menu__list {
  display: flex;
  justify-content: space-between;
}
.service-menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  padding: 5px 10px 15px 0px;
}
.service-menu__link::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(135deg);
  position: relative;
  top: -2px;
  left: 6px;
  transition: 0.5s;
}
.service-menu__link::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  transform: rotate(135deg);
  position: absolute;
  top: -1100%;
  left: 50%;
  opacity: 0;
  transition: 0.4s opacity;
}
.service-menu__burger {
  display: none;
}

.service-submenu__list {
  position: absolute;
  top: 2000px;
  left: -30px;
  background-color: #FFFFFF;
  display: inline-block;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s opacity;
}
.service-submenu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #200F3F;
  transition: 0.5s;
}
.service-submenu__link:hover {
  color: #43CDD7;
}
.service-submenu__link::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #5531D2;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: -2px;
  left: -5.25px;
}

.last-submenu {
  left: -90%;
}

.first-submenu {
  left: 0;
}

@media (max-width: 700px) {
  .service-menu__burger {
    display: block;
  }
  .service-menu__list {
    display: none;
  }
  .service-menu__list.active {
    display: inline-flex;
    flex-direction: column;
  }
  .service-menu__item {
    padding: 10px 0px;
  }
  .service-submenu__list {
    top: 0;
    left: 110%;
  }
  .service-menu__link::before {
    top: 32%;
    left: 106.5%;
  }
  .service-menu__burger-link.active::after {
    transform: rotate(45deg);
    border-top: 2px solid #43CDD7;
    border-right: 2px solid #43CDD7;
  }
  .service-menu__burger-link.active {
    color: #43CDD7;
  }
}
@media (max-width: 512px) {
  .service-submenu__list {
    position: relative;
    top: 15px;
    left: 0;
    margin-bottom: 20px;
  }
  .service-menu__link::before {
    top: 35px;
    left: 25%;
  }
  .service-menu__item {
    margin-top: 15px;
  }
}