@import "_nullstyle";
/*Обнуляющий стиль убрали в другой файл и подключилиего с помощю этой сылки*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
!-----------------faq---------------------!
*/

.pages-way {
  padding: 19.87px 0 19.87px 0;
  display: flex;

  &__1 {
    margin-right: 4px;

    & a {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      align-items: center;
      color: #200F3F;
    }

    & img {
      margin-right: 3.31px;
    }
  }

  &__2 {
    & a {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      color: #7E7099;

      &::before {
        content: '';
        width: 6px;
        height: 6px;
        display: inline-block;
        background-color: #5531D2;
        align-items: center;
        border-radius: 50%;
        margin-right: 4px;
        position: relative;
        top: -2px;
        z-index: -1;
      }
    }
  }
}

/*
!----------------------faq-dropdown--------------------!
*/
.main-content {}

.m-content {
  max-width: 736px;
  margin: 44px auto 0px;

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    text-align: center;
    color: #200F3F;
  }

  &__dropdown {}
}

.faq-dropdown {

  &__container {}

  &__button {
    width: 100%;
    background: #C5A6FD;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: left;
    padding: 16px 46.35px 16px 16px;
    border-radius: 10px 10px 0 0;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #200F3F;
    background: #FFFFFF;
    padding: 16px 16px 32px 16px;
  }
}