@import "_nullstyle";
/*Обнуляющий стиль убрали в другой файл и подключилиего с помощю этой сылки*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
!-----------------faq---------------------!
*/

.pages-way {
  padding: 19.87px 0 19.87px 0;
  display: flex;

  &__1 {
    margin-right: 4px;

    & a {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      align-items: center;
      color: #200F3F;
    }

    & img {
      margin-right: 3.31px;
    }
  }

  &__2 {
    & a {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      color: #7E7099;

      &::before {
        content: '';
        width: 6px;
        height: 6px;
        display: inline-block;
        background-color: #5531D2;
        align-items: center;
        border-radius: 50%;
        margin-right: 4px;
        position: relative;
        top: -2px;
        z-index: -1;
      }
    }
  }
}

/*
!----------------------faq-dropdown--------------------!
*/
.main-content {}

.m-content {
  max-width: 736px;
  margin: 44px auto 0px;

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    text-align: center;
    color: #200F3F;
  }

  &__dropdown {}
}

.faq-dropdown {
  margin-top: 56px;

  &__container {
    position: relative;
    margin-bottom: 16px;
  }

  &__button {
    width: 100%;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #200F3F;
    text-align: left;
    padding: 16px 16px 16px 16px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px rgba(43, 17, 133, 0.1);
    transition: 0.3s;

    &:hover>.faq-dropdown__button-icon::after {
      background: #FFFFFF;
    }

    &:hover>.faq-dropdown__button-icon::before {
      background: #FFFFFF;
    }

    &:hover {
      background: #C5A6FD;
      color: #FFFFFF;
    }

    &.active {
      border-radius: 10px 10px 0px 0px;
      background: #C5A6FD;
      color: #FFFFFF;
    }
  }

  &__button-icon {
    margin-left: 11.26px;
    min-width: 18px;
    min-height: 18px;
    justify-content: center;
    position: relative;
    pointer-events: none;
  }

  &__button-icon::after {
    content: '';
    width: 18px;
    height: 2px;
    background: #9E00FF;
    display: block;
    position: absolute;
    right: 0px;
    top: 8px;
    transition: 1s;
  }

  &__button-icon::before {
    content: '';
    width: 2px;
    height: 18px;
    background: #9E00FF;
    display: block;
    position: absolute;
    right: 8px;
    top: 0;
    transition: 1s;
  }

  &__button-icon.active::after {
    transform: rotate(180deg);
  }

  &__button-icon.active::before {
    transform: rotate(90deg);
  }

  &__text {
    display: none;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #200F3F;
    background: #FFFFFF;
    padding: 16px 16px 32px 16px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 10px rgba(43, 17, 133, 0.1);
    transition: 0.3s;
  }
}

.faq-dropdown__text-visible {
  display: block;
  position: relative;
}

@media (max-width: 539px){
  .faq-dropdown__button-icon{
    margin-top: 16px;
  }
  .m-content__title{
    font-size: 24px;
  }

}
@media (max-width: 539px) {
  .faq-dropdown__button-icon {
    margin-top: 30px;
  }
}
.pages-way__2-2{
  display: none;
}
@media (max-width: 348px){
  .pages-way__2-2{
    display: inline-block;
  }
  .pages-way__2-1{
    display: none;
  }
}