@import "_nullstyle";
/*Обнуляющий стиль убрали в другой файл и подключилиего с помощю этой сылки*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
!--------------footer-------------------!
*/
.footer__body-img img {
  object-position: 2%;
}

.ibg {
  position: relative;

  & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

footer {
  margin-top: 17px;
}

.footer {
  position: relative;

  &__body-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__body {
    padding-top: 278px;
    position: relative;
    z-index: 15;
    overflow: hidden;
  }

  &__container {}

  &__main {}
}

.sales-2 {
  position: relative;
  z-index: 11;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(43, 17, 133, 0.2);
  border-radius: 20px;
  margin-top: 100px;
  text-align: center;
  padding: 48px;

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
  }

  &__form {
    margin-top: 24px;
  }

  &__form form {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
  }

  &__name {
    padding: 14px 15px;
    background: #F6EEFD;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #7E7099;
    transition: 0.5s;
    width: 100%;

    &:focus {
      outline: 2px solid #43CDD7;
      color: #000000;
    }
  }

  &__phone-number {
    padding: 14px 15px;
    background: #F6EEFD;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #7E7099;
    transition: 0.5s;
    width: 100%;

    &:focus {
      outline: 2px solid #43CDD7;
      color: #000000;
    }
  }

  &__button {
    padding: 16px 24px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #5531D2;
    border: 2px solid #5531D2;
    transition: 0.5s;
    width: 100%;

    &:hover {
      background: #5531D2;
      color: #FFFFFF;
    }
  }

  &__consent {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #200F3F;
    margin-top: 16px;
  }

  &__span-1 {
    font-weight: 700;
  }

  &__span-2 {
    text-decoration: underline;
  }
}

.m-content__contact {
  display: flex;
  justify-content: center;
  margin-top: 19px;
  column-gap: 14px;

  & img {}
}

.m-contacts__img {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;

  &:hover {
    box-shadow: 0px 0px 10px 5px rgba(85, 49, 210);
    background: rgba(85, 49, 210)
  }
}

.u-container {}

.f-main {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__block-1 {
    display: flex;
    flex-direction: column;
    margin-right: 78px;
  }

  &__block-2 {
    display: flex;
    flex-direction: column;
    margin-right: 54px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
  }

  &__block-3 {
    display: flex;
    flex-direction: column;
    margin-right: 119px;
  }

  &__block-4 {
    display: flex;
    flex-direction: column;
  }
}

.f-location {

  &__logo {}
}

.f-logo {}

.f-logo {
  display: flex;
  align-items: center;
  column-gap: 10px;

  &__logo-img {}

  &__logo-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
  }
}

.f-contacts {

  &__contact-mobi {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 38px;
  }

  &__mobi-img {}

  &__mobi-numb {
    & a {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: #FFFFFF;
      white-space: nowrap;
    }
  }

  &__contact-net {
    margin-top: 25px;
    display: flex;
    column-gap: 12px;

    & a {
      color: #FFFFFF;

      &:hover {
        color: #E7CDFC;
      }
    }
  }
}

.f-map {

  &__map {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 15px;
  }

  &__map-img {}

  &__map-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }

  &__time {
    display: flex;
    column-gap: 5px;
    margin-top: 15px;
    align-items: center;
  }

  &__time-img {}

  &__time-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }
}

.f-title {

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 4.5px;
    margin-top: 14px;
  }

  &__item {}

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    white-space: nowrap;
  }
}

.footer {

  &__service-menu {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    white-space: nowrap;
  }
}

.f-service-menu {

  &__list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__item {}

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }
}

.f-content {

  &__sales2 {}
}

.f-sales-2 {

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
  }

  &__form {
    margin-top: 11.62px;

    & form {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #7E7099;
    max-width: 352px;
    height: 53px;
    border-radius: 10px;
    padding: 14px 15px;
  }

  &__phone-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #7E7099;
    max-width: 352px;
    height: 53px;
    border-radius: 10px;
    padding: 14px 15px;
  }

  &__button {
    max-width: 352px;
    height: 57px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    background: #43CDD7;
    border-radius: 10px;
  }

  &__consent {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 16px;
  }

  &__span-1 {}

  &__span-2 a {
    color: #FFFFFF;
    text-decoration: underline;
  }
}

.footer__low {
  margin: 14.38px 14.38px 0 14.38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 20px;
  position: relative;
  z-index: 15;
}


.f-body {
  &__img-1 {
    box-sizing: border-box;
    position: absolute;
    width: 306.25px;
    height: 70px;
    left: -163px;
    top: 194.65px;
    opacity: 0.2;
    border: 4px solid #E7CDFC;
    border-radius: 20px;
    transform: rotate(-15deg);
  }

  &__img-2 {
    position: absolute;
    width: 306.25px;
    height: 70px;
    left: -163px;
    top: 445.65px;
    background: #E7CDFC;
    opacity: 0.2;
    border-radius: 20px;
    transform: rotate(-15deg);
  }

  &__img-3 {
    position: absolute;
    width: 103px;
    height: 103px;
    right: 340px;
    top: 589.38px;
    background: #E7CDFC;
    opacity: 0.3;
    border-radius: 50%;
  }

  &__img-4 {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 250px;
    top: 250.38px;
    background: #5531D2;
    opacity: 0.3;
    border-radius: 50%;
  }

  &__img-5 {
    position: absolute;
    width: 103px;
    height: 103px;
    right: -20px;
    top: 375.38px;
    background: #E7CDFC;
    opacity: 0.3;
    border-radius: 50%;
  }
}

@media (max-width: 1120px) {
  .f-main {
    display: flex;
    justify-content: space-between;

    &__block-1,
    &__block-2,
    &__block-3 {
      margin-right: 20px;
    }

    &__block-4 {
      max-width: 358px;
    }
  }
}

@media (max-width: 980px) {
  .f-main {
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 760px) {
  .footer__body {
    padding-top: 150px;
  }
}

@media (max-width: 550px) {
  .footer__body {
    padding-top: 55px;
    margin-top: 100px;
  }
}

@media (max-width: 420px) {
  .f-main {
    flex-direction: column;
  }
}

@media (min-width:1120px) {
  .sales-2__name {
    width: 320px;
    height: 58px;
  }

  .sales-2__phone-number {
    width: 320px;
    height: 58px;
  }

  .sales-2__button {
    width: 320px;
    height: 58px;
  }
}

@media (max-width: 864px) {
  .sales-2__form form {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
  }
}

@media (max-width: 375px) {

  .sales-2__name,
  .sales-2__phone-number {
    padding: auto;
  }
}