@import "_nullstyle";
/*Обнуляющий стиль убрали в другой файл и подключилиего с помощю этой сылки*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.dws-menu [type="checkbox"],
.dws-menu label.toggleSubmenu {
  // display: none;
}

.dws-menu label.toggleMenu {
  background: c9c9c9;
  display: block;
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: #454547;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  display: none;
}

header {
  margin-top: 200px;
}

.dws-menu {}

.dws-menu>ul {
  display: flex;
  justify-content: center;
}

.dws-menu>ul li {
  position: relative;
  border-right: 1px solid #c7c8ca;
}

.dws-menu ul li a {
  display: block;
  background: #ececed;
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: #454547;
  text-transform: uppercase;
}

.dws-menu li a:hover {
  background: #454547;
  color: #ececed;
}

.dws-menu li ul {
  position: absolute;
  min-width: 200px;
  display: none;
}

.dws-menu li>ul li a {
  // border: 1px solid black;
  padding: 10px;
}

.dws-menu li>ul li ul {
  position: absolute;
  right: -100%;
  top: 0%;
}

.dws-menu li:hover>ul {
  display: block;
}

@media (max-width:800px) {
  .dws-menu {
    overflow: hidden;
  }

  .dws-menu label.toggleMenu {
    display: block;
  }

  .dws-menu ul {
    display: none;
  }

  input.toggleMenu:checked+label.toggleMenu,
  input.toggleSubmenu:checked+label.toggleSubmenu {
    background: #000;
    color: #c7c8ca;
  }

  input.toggleMenu:checked~ul,
  input.toggleSubmenu:checked~ul {
    display: block;
    position: relative;
  }

  .dws-menu label.toggleSubmenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
  }

  input.toggleSubmenu:checked~a {
    background: #545474;
    color: #ececed;
  }

  .dws-menu li>ul li ul {
    position: absolute;
    right: auto;
    top: auto;
  }

  .dws-menu li ul li a {
    padding: 15px 30px 15px 40px;
  }

  .dws-menu ul li ul a {
    background-color: #77ebd7;
  }

  .dws-menu ul li ul li ul a {
    background: #6f856f;
  }

  .dws-menu ul li ul li ul li ul a {
    background: black;
  }
}

.i {}

.fa {}

.fa- {}