@import "_nullstyle";
/*Обнуляющий стиль убрали в другой файл и подключилиего с помощю этой сылки*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
!--------------------const-------------------
*/

.u-container {
  margin: 0px 20px;
}

@media (min-width:1120px) {
  .u-container {
    width: 1120px;
    margin: auto;
  }
}

@media (max-width:1120px) {

  .header__container,
  .main__container {
    padding: 0px 20px 0px 20px;
  }
}

/*
!---------------------header-----------------
*/
body {
  font-family: 'Roboto';
}

header {
  position: relative;
}

.header {
  position: relative;
  z-index: 10;

  &__body {
    background: linear-gradient(109.06deg, #5531D2 28.35%, #9273E4 76.57%, #E7CDFC 113.82%);
  }

  &__container {}

  &__main {
    padding: 15.5px 0px 0px 0px;
  }

  &__burger {}

  &__title {}

  &__location {}

  &__services {}
}

.h-title {
  position: relative;

  &__buttom {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 15px;
    display: none;

  }

  &__buttom::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
    right: -5px;
    transition: 0.5s;
  }

  &__buttom.active::after {
    transform: rotate(-45deg);
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }
}

.h-location {
  margin-top: 20.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;

  &__logo {}

  &__map {}

  &__contacts {}

  &__form {}
}

.h-logo {
  // border: 1px solid ;
  display: flex;
  width: 239px;

  &__logo-img {}

  &__logo-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    margin-left: 10px;
  }
}

.h-map {
  display: flex;
  flex-direction: column;
  row-gap: 10.5px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-left: 15px;

  &__map {
    display: flex;
  }

  &__map-img {}

  &__map-text {
    display: flex;
    align-items: center;
    margin-left: 5.05px;
  }

  &__time {
    display: flex;
  }

  &__time-img {}

  &__time-text {
    display: flex;
    align-items: center;
    margin-left: 5.05px;
  }
}

.h-contacts {
  display: flex;
  flex-direction: column;
  row-gap: 10.5px;
  margin-left: 15px;

  &__contact-mobi {
    display: flex;
    transition: 0.5s;

    & a {
      transition: 0.5s;

      &:hover {
        color: #43CDD7;
      }
    }
  }

  &__mobi-img {}

  &__mobi-numb {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: center;
    margin-left: 5.05px;

    & a {
      color: #FFFFFF;
    }
  }

  &__contact-net {
    display: flex;
    column-gap: 12px;

    & a {
      color: #fff;
      transition: 0.3s;
    }

    & a:hover {
      color: #E7CDFC;
    }
  }
}

.h-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 15px;

  &__form-search {
    display: flex;
    justify-content: space-between;

    height: 48px;
    border-radius: 10px;
    padding: 0px 10px;
    background-color: #FFFFFF;
  }

  &__search-txt {
    flex: 0 1 90%;
    outline: none;
    border: none;
    color: #7E7099;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__search-btn {
    background-color: #FFFFFF;
  }

  &__form-call {
    & a {
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 57px;
      color: #FFFFFF;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      transition: 0.3s;
      background: #43CDD7;

      &:hover {
        border-radius: 10px;
        background: #1A8289;
      }
    }
  }
}

@media (min-width:1090px) {
  .h-form__form-search {
    width: 319px;
  }

  .h-form__form-call a {
    width: 319px;
  }
}

.burger__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
  width: 80%;
  align-items: center;
}

@media (max-width: 992px) {
  .h-location {
    flex-wrap: wrap;
    -moz-column-gap: 15px;
    column-gap: 15px;
    row-gap: 15px;
  }

  .h-map {
    margin-left: 0px;
  }
}

@media (max-width: 832px) {
  .h-form {
    margin-left: 0px;
  }
}

@media (max-width: 573px) {
  .burger__block {
    flex-direction: column;
    align-items: flex-start;
  }

  .h-form {
    margin-left: 0px;
  }

  .h-contacts {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .h-location__logo {
    position: absolute;
    top: 17.71px;
  }

  .header__main {
    padding-top: 69px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 14px;
    position: absolute;
    top: 35px;
    right: 20px;
  }

  .burger__block {
    width: 100%;
  }

  .header__burger span {
    position: absolute;
    left: 0%;
    top: 6px;
    background-color: #43CDD7;
    width: 100%;
    height: 2px;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: #43CDD7;
    width: 100%;
    height: 2px;
    transition: 0.5s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .h-title__items {
    position: absolute;
    top: -1500%;
    flex-direction: column;
    row-gap: 15px;
    margin-right: 10px;
    transition: 0.5s;
    opacity: 0;
    transition: 0.5s opacity;
  }

  .h-title__items.active {
    top: 40px;
    opacity: 1;
  }

  .h-title__buttom {
    display: block;
  }

  .h-title__buttom.active {
    height: 275px;
  }

  .h-title {
    margin-top: 15px;
  }

  .header__title,
  .burger__block,
  .header__services {
    position: absolute;
    top: -500px;
    transition: 0.5s opacity;
    opacity: 0;
  }

  .header__burger.active::after {
    transform: rotate(45deg);
    top: 5px;
    left: 8px;
    width: 12px;
  }

  .header__burger.active::before {
    transform: rotate(-45deg);
    top: 5px;
    width: 12px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__title.active,
  .burger__block.active,
  .header__services.active {
    position: relative;
    top: 0;
    opacity: 1;
  }
}

/*
  !---------------------------h-service---------------------------!
  */
.header {

  &__service-menu {
    margin-top: 5px;
    padding: 17px 0px 17px 0px;
  }
}

.service-menu {
  & li {
    position: relative;
    list-style: none;
    z-index: 10;

    &:hover>.service-menu__link {
      color: #43CDD7;
    }

    &:hover>.service-submenu__list {
      display: block;
    }

    &:hover>.service-menu__link::after {
      transform: rotate(45deg);
      border-top: 1px solid #43CDD7;
      border-right: 1px solid #43CDD7;
    }

    &:hover>.service-menu__link::before {
      display: inline-block;
    }
  }

  &__burger-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;

    &::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(135deg);
      position: relative;
      top: -2px;
      left: 6px;
      transition: 0.5s;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 5px 10px 5px 0px;

  }

  &__link {
    &::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotate(135deg);
      position: relative;
      top: -2px;
      left: 6px;
      transition: 0.5s;
    }

    &::before {
      content: '';
      display: none;
      width: 10px;
      height: 10px;
      background-color: #FFFFFF;
      transform: rotate(135deg);
      position: absolute;
      top: 110%;
      left: 50%;
    }
  }

  &__burger {
    display: none;
  }
}


.service-submenu {

  &__list {
    position: absolute;
    top: 20px;
    left: -30px;
    background-color: #FFFFFF;
    display: inline-block;
    width: 300px;
    padding: 20px;
    display: none;
    border-radius: 10px;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #200F3F;
    transition: 0.5s;

    &:hover {
      color: #43CDD7;
    }

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      background: #5531D2;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      top: -2px;
      left: -5.25px;
    }
  }
}

.last-submenu {
  left: -90%;
}

.first-submenu {
  left: 0;
}

@media (max-width: 700px) {
  .service-menu__burger {
    display: block;
  }

  .service-menu__list {
    display: none;
  }

  .service-menu__list.active {
    display: inline-flex;
    flex-direction: column;
  }

  .service-menu__item {
    padding: 10px 0px;
  }

  .service-submenu__list {
    top: 0;
    left: 110%;
  }

  .service-menu__link::before {
    top: 32%;
    left: 106.5%;
  }

  .service-menu__burger-link.active::after {
    transform: rotate(45deg);
    border-top: 2px solid #43CDD7;
    border-right: 2px solid #43CDD7;
  }

  .service-menu__burger-link.active {
    color: #43CDD7;
  }
}

@media (max-width: 512px) {
  .service-submenu__list {
    position: relative;
    top: 15px;
    left: 0;
    margin-bottom: 20px;
  }

  .service-menu__link::before {
    top: 35px;
    left: 25%;
  }

  .service-menu__item {
    margin-top: 15px;
  }
}